{% extends 'structure.html.twig' %}

{% block page_title %}
    Proveedor eliminado - Viajes Para Ti
{% endblock %}

{% block title %}
    Provedor eliminado
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="index.html">Backoffice</a></li>
    <li class="breadcrumb-item"><a href="{{ path('proveedores') }}">Proveedores</a></li>
    <li class="breadcrumb-item active">Borrado</li>
{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-trash me-1"></i>
            Proveedor borrado
        </div>
        <div class="card-body">
            El proveedor con Id {{ id }}, ha sido borrado.
        </div>
    </div>
{% endblock %}