{% extends 'structure.html.twig' %}

{% block page_title %}
    Proveedor eliminado - Viajes Para Ti
{% endblock %}

{% block title %}
    Provedor eliminado
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="index.html">Backoffice</a></li>
    <li class="breadcrumb-item">Proveedores</li>
    <li class="breadcrumb-item active">Borrado</li>
{% endblock %}

{% block body %}
    El proveedor con Id {{ id }}, ha sido borrado.
{% endblock %}