{% extends 'structure.html.twig' %}

{% block page_title %}
    Nuevo Proveedor - Viajes Para Ti
{% endblock %}

{% block title %}
    Nuevo Provedor
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="index.html">Backoffice</a></li>
    <li class="breadcrumb-item"><a href="{{ path('proveedores') }}">Proveedores</a></li>
    <li class="breadcrumb-item active">Nuevo</li>
{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Alta de Proveedor
        </div>
        <div class="card-body">
            <form action="{{ path('proveedores_crear') }}" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="inputName" type="text" placeholder="Nombre" name="name">
                            <label for="inputName">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" id="inputPhoneNumber" type="text" placeholder="Número de teléfono" name="phone">
                            <label for="inputPhoneNumber">Número de Teléfono</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" name="email">
                    <label for="inputEmail">Dirección de EMail</label>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <select class="form-control" id="inputType" name="isActive">
                                <option value="1" selected>Sí</option>
                                <option value="0">No</option>
                            </select>
                            <label for="checkActivo">¿Está activo?</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-control" id="inputType" name="type">
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.id }}">{{ tipo.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="inputType">Selecciona el Tipo</label>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Crear Proveedor"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}