{% extends 'structure.html.twig' %}

{% block page_title %}
    Nuevo Proveedor - Viajes Para Ti
{% endblock %}

{% block title %}
    Nuevo Provedor
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="index.html">Backoffice</a></li>
    <li class="breadcrumb-item">Proveedores</li>
    <li class="breadcrumb-item active">Nuevo</li>
{% endblock %}

{% block body %}
    Content
{% endblock %}